{% load static %}
<ul class="flex-container jcc mt-3">
  <li>
    Quicklinks
    <ul>
      <li>Contact</li>
      <li>Sitemap</li>
    </ul>
  </li>
  <li>
    Info
    <ul>
      <li>Policies</li>
      <li>Authorized Lines</li>
      <li>Terms of Service</li>
      <li>Refund Policy</li>
      <li>FAQ</li>
    </ul>
  </li>
  <li>
    Contact
    <ul>
      <li>Follow us:</li>
    </ul>
  </li>
</ul>
<div class="logo m-auto">{% include "brandlogo.html" %}</div>
<div class="text-center mb-3">{% include "copyright.html" %}</div>
