{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ice Cream Shop Official Website" />
    <meta name="keywords" content="Icecream, shop" />
    <meta name="author" content="BeyondLimits" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>IceCreamShop</title>
  </head>
  <body>
    <header>
      <div class="flex-container flex-item-center">
        <div class="logo">{% include "brandlogo.html" %}</div>
        {% include "navmenu.html" %} {% include "othermenu.html" %}
      </div>
    </header>
    <main>
      <section class="hero">{% include "hero.html" %}</section>
      <h1 class="text-center mt-3 mb-3">FEATURED PRODUCTS</h1>
      <section class="products-list container-1000 m-auto mb-3">
        {% include "products.html" %}
      </section>
      {% for x in myIcecreamshop %}
      <div class="container">{{x.name}}</div>
      {% endfor %}
    </main>
    <footer>{% include "footer.html" %}</footer>
  </body>
</html>
