{% load static %}
<ul class="flex-container f-wrap text-center">
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-1.jpg' %}" alt="Ice Cream 1" />
      </a>
    </div>
    <h2>Ice Cream 1</h2>
    <h3>$8.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-2.jpg' %}" alt="Ice Cream 2" />
      </a>
    </div>
    <h2>Ice Cream 2</h2>
    <h3>$12.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-3.jpg' %}" alt="Ice Cream 3" />
      </a>
    </div>
    <h2>Ice Cream 3</h2>
    <h3>$19.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-4.jpg' %}" alt="Ice Cream 4" />
      </a>
    </div>
    <h2>Ice Cream 4</h2>
    <h3>$25.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-5.jpg' %}" alt="Ice Cream 5" />
      </a>
    </div>
    <h2>Ice Cream 5</h2>
    <h3>$12.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-6.jpg' %}" alt="Ice Cream 6" />
      </a>
    </div>
    <h2>Ice Cream 6</h2>
    <h3>$8.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-7.jpg' %}" alt="Ice Cream 7" />
      </a>
    </div>
    <h2>Ice Cream 7</h2>
    <h3>$22.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-8.jpg' %}" alt="Ice Cream 8" />
      </a>
    </div>
    <h2>Ice Cream 8</h2>
    <h3>$3.00</h3>
  </li>
  <li class="item">
    <div>
      <a href="#">
        <img src="{% static 'img/ice-cream-9.jpg' %}" alt="Ice Cream 9" />
      </a>
    </div>
    <h2>Ice Cream 9</h2>
    <h3>$32.00</h3>
  </li>
</ul>
